/result
/result-fd
/.env
/claude-docker
/.claude-vm

# editors
.vscode/
.idea/
.godot/

# apple
.DS_Store
.AppleDouble
.LSOverride

# build related directories
/build
target
result
zig-out
zig-build

# secrets
.env

# direnv
.envrc
.direnv

# py
__pycache__/
.pytest_cache
.mypy_cache
.ruff_cache
.coverage*
core.[0-9]*

# claude sandbox
/.bash_profile
/.bashrc
/.gitconfig
/.mcp.json
/.profile
/.ripgreprc
/.zprofile
/.zshrc
/HEAD
/config
/hooks
/objects
/refs
.claude/agents
.claude/commands
.claude/settings.json
